#contact {
    margin-top: 12px;
}

#projects {

}

#proficiencies {
    
}

.bordered {
    border-color: rgb(233, 211, 233);
    margin-top: 12px;
    padding: 24px 0 12px 0;
    border-top-style: dotted;
    border-width: 6px;
}

.headshot {
}

.project-image {
   padding-bottom: 12px;
}

.project-description {
}

.list-div {
    padding-left: 36px;
}

.hide {
    display: none;
}

body {
    background-color: rgb(233, 222, 244);
    margin: 6px;
    padding: 12px 8px 12px 8px;
    border-style: dotted;
    border-width: 6px;
    border-color: thistle;
}

h1 {
    color: rgb(66, 44, 88);
    font-size: 54px;
    margin-top: 6px;
}

h2 {
    color: rgb(111, 77, 133);
    font-size: 42px;
}

h3 {
    color: rgb(99, 122, 111);
    font-size: 32px;
}

p {
    color: rgb(50, 40, 45);
    font-size: 22px;
    padding-left: 18px;
}

li {
    font-size: 22px;
}

a {
    color: rgb(44, 22, 222);
}

@media (max-width: 575px) {
    .headshot {
    }
}

@media (min-width: 576px) {
    .headshot {
    }
}

@media (min-width: 768px) {
    .headshot {
    }
}

/* adding transition to push page content below fixed navbar*/
